<div class="main-item">
  <mat-card>
    <div class="div-img">
      <img class="left-img-content" src="/../assets/images/financialdata.png"/>
    </div>
    <div class="div-text">
      <p class="right-text-content">
        Welcome to your dashboard. Here you can review your investments and buy new cryptocurrencies.
      </p>
    </div>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center"  class="container mat-elevation-z8">
  <div>
    Account balance:
    
  </div>
  <div id="chart">
    <app-pie></app-pie>
  </div>
</div>
