<div class="base">
        <mat-card class="quiz1">
            <mat-card-title>Első kérdés</mat-card-title>
            <mat-card-content>
              <p>{{"kérdés"}}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>Opció1</button>
              <button mat-button>Opció2</button>
              <button mat-button>Opció3</button>
              <button mat-button>Opció4</button>
            </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
</div>
