@import "/src/styles.scss";

$primary: map-get($my-theme, primary);
$accent: map-get($my-theme, accent);
.mat-toolbar
{
  background: mat-color($primary);
  color: white;
}

.mat-sidenav
{
  margin: 16px;
  width: 200px;
  border-right: none;
  background:  mat-color($primary);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content
{
  height: calc(100vh - 98px);
  min-width: 900px;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

.mat-sidenav-container
{
  height: calc(100vh - 65px);
}

.menu-button
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  background:  mat-color($primary);
  .mat-icon
  {
    margin-right: 8px;
  }
}

.avatar
{
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name
{
  margin-top: 8px;
  font-weight: normal;
}

.designation
{
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.mat-divider
{
  margin-top: 16px;
  margin-bottom: 16px;
  background: mat-color($primary);
}

.header
{
    width:100%;
}

.div_login
{
  display: flex;
  margin: auto;
}

#img_login
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#login_id
{
    margin: auto;
}

.mat-sidenav-content
{
  // filter: blur(1000rem);
  background-image: radial-gradient(circle at 57% 36%, rgba(255,255,255, 0.04) 0%, rgba(255,255,255, 0.04) 10%,transparent 10%, transparent 100%),radial-gradient(circle at 22% 61%, rgba(255,255,255, 0.04) 0%, rgba(255,255,255, 0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 68% 97%, rgba(255,255,255, 0.04) 0%, rgba(255,255,255, 0.04) 41%,transparent 41%, transparent 100%),radial-gradient(circle at 57% 89%, rgba(255,255,255, 0.04) 0%, rgba(255,255,255, 0.04) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 39% 80%, rgba(255,255,255, 0.04) 0%, rgba(255,255,255, 0.04) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 88% 71%, rgba(255,255,255, 0.04) 0%, rgba(255,255,255, 0.04) 30%,transparent 30%, transparent 100%),linear-gradient(0deg, rgb(65,62,62),rgb(65,62,62));
  
}

.switcher{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
