@import "/src/styles.scss";

$primary: map-get($my-theme, primary);
$accent: map-get($my-theme, accent);
.mat-toolbar
{
  background: mat-color($primary);
  color: white;
}

.mat-sidenav
{
  margin: 16px;
  width: 200px;
  border-right: none;
  background:  mat-color($primary);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content
{
  height: calc(100vh - 98px);
  min-width: 900px;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

.mat-sidenav-container
{
  height: calc(100vh - 65px);
}

.menu-button
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  background:  mat-color($primary);
  .mat-icon
  {
    margin-right: 8px;
  }
}

.avatar
{
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name
{
  margin-top: 8px;
  font-weight: normal;
}

.designation
{
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.mat-divider
{
  margin-top: 16px;
  margin-bottom: 16px;
  background: mat-color($primary);
}

.header
{
    width:100%;
}

.div_login
{
  display: flex;
  margin: auto;
}

#img_login
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#login_id
{
    margin: auto;
}

body {
  filter: blur(1000rem);
}

.switcher{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// .dark {
//   background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); 
// }

// .light {
//   background-image: linear-gradient(45deg, rgb(22, 244, 197) 0%, rgb(22, 244, 197) 12%,rgb(24, 219, 187) 12%, rgb(24, 219, 187) 51%,rgb(26, 193, 176) 51%, rgb(26, 193, 176) 52%,rgb(28, 168, 166) 52%, rgb(28, 168, 166) 66%,rgb(29, 143, 155) 66%, rgb(29, 143, 155) 73%,rgb(31, 117, 145) 73%, rgb(31, 117, 145) 80%,rgb(33, 92, 134) 80%, rgb(33, 92, 134) 100%);
// }
