table
{
  width: 100%;
  position: sticky;
}

.main-item
{
  mat-card
  {
    
    margin: auto; 
    height: 500px;
    width: 80%;
  }
  display: block;
  position: relative;
}

.mat-table-size
{
  margin: auto;
  width: 80%;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.mat-cell, .mat-header-cell
{
  padding: 8px 30px 8px 0;
}

/* Expanded rows start */
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
/* Expanded rows end */
