<div class="main-item" *ngIf="userLoggedIn == false">
  <mat-card>
    <div class="div-img">
      <img class="left-img-content" src="/../assets/images/stock_prices_img.png"/>
    </div>
    <div class="div-text">
      <p class="right-text-content">
        <span><a id="register-now-id" routerLink="register">Register</a></span> or <span><a id="register-now-id" routerLink="login">Login</a></span> now in order to try out what could you achieve, if you would trade with cryptos. Without any financial risk.
      </p>
    </div>
  </mat-card>
</div>

<div class="main-item" *ngIf="userLoggedIn == true">
  <mat-card>
    <div class="div-img">
      <img class="left-img-content" src="/../assets/images/stock_prices_img.png"/>
    </div>
    <div class="div-text">
      <p class="right-text-content">
        Try out your skills and luck with trading crypto currencies, without any risk to lose, because it is just only simulation with current currencies.
      </p>
    </div>
  </mat-card>
</div>

<div class="mat-table-size mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-position"> {{element.position}} </div>
            <div class="example-element-symbol"> {{element.symbol}} </div>
            <div class="example-element-name"> {{element.name}} </div>
            <div class="example-element-weight"> {{element.weight}} </div>
          </div>
          <div class="example-element-description">
            {{element.description}}

            <mat-accordion>
              <mat-expansion-panel class="expansion-panel-buy" *ngIf="sellPanelOpenState == false" (opened)="buyPanelOpenState = true"
                                   (closed)="buyPanelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Buy crypto
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="input-content">
                  <mat-form-field appearance="fill" class="input-field">
                    <mat-label>Amount of money</mat-label>
                    <input [(ngModel)]="transactionModel.spentValue" matInput placeholder="From your budget" value="100">
                  </mat-form-field>
                  <button class="transaction-button" (click)="createBuyTransaction(element.symbol)" mat-raised-button>Buy</button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
              <mat-expansion-panel class="expansion-panel-sell" *ngIf="buyPanelOpenState == false" (opened)="sellPanelOpenState = true"
                                   (closed)="sellPanelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Sell crypto
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="input-content">
                  <mat-form-field appearance="fill">
                    <mat-label>Amount of money</mat-label>
                    <input [(ngModel)]="transactionModel.boughtValue" matInput placeholder="From your crypto" value="100" class="input-field">
                  </mat-form-field>
                  <button class="transaction-button" (click)="createSellTransaction(element.symbol)" mat-raised-button>Sell</button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 15, 5, 10, 30]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
