$md-myblack: (
  50: #e1e2e1,
  100: #b5b6b5,
  200: #848684,
  300: #535552,
  400: #2e302d,
  500: #090c08,
  600: #080a07,
  700: #060806,
  800: #050604,
  900: #020302,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-myorange: (
  50: #ffe8e0,
  100: #ffc6b3,
  200: #ffa080,
  300: #ff794d,
  400: #ff5d26,
  500: #ff4000,
  600: #ff3a00,
  700: #ff3200,
  800: #ff2a00,
  900: #ff1c00,
  A100: #ffffff,
  A200: #fff3f2,
  A400: #ffc3bf,
  A700: #ffaba6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-mygreen: (
  50: #e5f8f0,
  100: #beedda,
  200: #93e2c2,
  300: #67d6aa,
  400: #47cd97,
  500: #26c485,
  600: #22be7d,
  700: #1cb672,
  800: #17af68,
  900: #0da255,
  A100: #d0ffe5,
  A200: #9dffc8,
  A400: #6affac,
  A700: #51ff9e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-mywhite: (
  50: #fffdfb,
  100: #fffaf5,
  200: #fff7ee,
  300: #fef4e7,
  400: #fef1e2,
  500: #feefdd,
  600: #feedd9,
  700: #feebd4,
  800: #fee8cf,
  900: #fde4c7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-myblue: (
  50: #eaf6f7,
  100: #cbe8ec,
  200: #a8d9e0,
  300: #85c9d3,
  400: #6abec9,
  500: #50b2c0,
  600: #49abba,
  700: #40a2b2,
  800: #3799aa,
  900: #278a9c,
  A100: #dcf9ff,
  A200: #a9f1ff,
  A400: #76e8ff,
  A700: #5de4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);


$mywhite: #e3e3e3;
$myblack: #4e4e4e;
$teszt: #ff1c00;
