@import '~@angular/material/theming';
@include mat-core();

$mat-theming-primary: mat-palette($mat-blue);
$mat-theming-accent: mat-palette($mat-green,A200, A100, A400);
$mat-theming-warn: mat-palette($mat-orange);

$my-theme: mat-light-theme($mat-theming-primary,$mat-theming-accent,$mat-theming-warn);
$my-theme-dark: mat-dark-theme($mat-theming-primary,$mat-theming-accent,$mat-theming-warn);


.theme-dark {
    @include angular-material-theme($my-theme-dark)
}

.theme-light {
    @include angular-material-theme($my-theme)
}

// @include angular-material-theme($my-theme);


$mat-blue: (
    50 : #e7eeff,
    100 : #c3d5ff,
    200 : #9bb9ff,
    300 : #739cff,
    400 : #5587ff,
    500 : #3772ff,
    600 : #316aff,
    700 : #2a5fff,
    800 : #2355ff,
    900 : #1642ff,
    A100 : #ffffff,
    A200 : #fcfcff,
    A400 : #c9d1ff,
    A700 : #afbcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-green: (
    50 : #ebf2ef,
    100 : #ceded7,
    200 : #adc9bc,
    300 : #8cb3a1,
    400 : #74a28d,
    500 : #5b9279,
    600 : #538a71,
    700 : #497f66,
    800 : #40755c,
    900 : #2f6349,
    A100 : #aeffd6,
    A200 : #7bffbc,
    A400 : #48ffa2,
    A700 : #2fff95,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-orange: (
    50 : #ffece0,
    100 : #ffcfb3,
    200 : #ffaf80,
    300 : #fe8f4d,
    400 : #fe7726,
    500 : #fe5f00,
    600 : #fe5700,
    700 : #fe4d00,
    800 : #fe4300,
    900 : #fd3200,
    A100 : #ffffff,
    A200 : #fff3f1,
    A400 : #ffc7be,
    A700 : #ffb1a4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);